<template>
  <div class="card-container">
    <div>
      <div class="image-container">
        <router-link
          :to="{
            name: ROUTE_READER_V2,
            params: { bookId: this.book.id.toString() },
          }"
        >
          <img
            v-lazy="{
              src: this.book.thumbnail_url,
              error: placeHolderScr,
            }"
            class="cover-img"
          />
        </router-link>
      </div>
      <div class="d-flex justify-content-between" style="width: 100%">
        <div style="width: 100%">
          <div class="text-center">
            <div style="float: right">
              <button
                class="btn dropdown-btn"
                style="padding: 1px 5px 0px 5px"
                type="button"
                id="dropdownMenuButton"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
              >
                <font-awesome-icon icon="ellipsis-v" style="color: white" />
              </button>
              <div
                class="dropdown-menu dropdown-menu-right"
                aria-labelledby="dropdownMenuButton"
                style="margin-right: 15px"
              >
                <span class="dropdown-item-text">Move to...</span>
                <div class="dropdown-divider"></div>
                <button
                  class="dropdown-item"
                  v-bind:class="{
                    active: ReadingStatus.Unknown == book.reading_status_id,
                  }"
                  v-on:click="updateReadindStatus(ReadingStatus.Unknown)"
                  :disabled="ReadingStatus.Unknown == book.reading_status_id"
                >
                  <font-awesome-icon icon="eye" style="margin-right: 9px" />
                  Unmarked
                </button>
                <!-- Refactor this -->
                <button
                  class="dropdown-item"
                  v-bind:class="{
                    active: ReadingStatus.Reading == book.reading_status_id,
                  }"
                  v-on:click="updateReadindStatus(ReadingStatus.Reading)"
                  :disabled="ReadingStatus.Reading == book.reading_status_id"
                >
                  <font-awesome-icon icon="eye" style="margin-right: 9px" />
                  Reading
                </button>
                <button
                  class="dropdown-item"
                  v-bind:class="{
                    active: ReadingStatus.PlanToRead == book.reading_status_id,
                  }"
                  v-on:click="updateReadindStatus(ReadingStatus.PlanToRead)"
                  :disabled="ReadingStatus.PlanToRead == book.reading_status_id"
                >
                  <font-awesome-icon
                    icon="calendar-alt"
                    style="margin-right: 9px"
                  />
                  Plan to read
                </button>
                <button
                  class="dropdown-item"
                  v-bind:class="{
                    active: ReadingStatus.Completed == book.reading_status_id,
                  }"
                  v-on:click="updateReadindStatus(ReadingStatus.Completed)"
                  :disabled="ReadingStatus.Completed == book.reading_status_id"
                >
                  <font-awesome-icon icon="check" style="margin-right: 9px" />
                  Completed
                </button>
              </div>
            </div>
            <router-link
              :to="{
                name: ROUTE_READER_V2,
                params: { bookId: this.book.id.toString() },
              }"
              class="snippet-text"
              >{{ book.title }}</router-link
            >
            <div class="author-snippet-text text-muted">
              {{ book.author }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
/* eslint-disable @typescript-eslint/camelcase */
import Vue from "vue";
import { Book, ReadingStatus } from "@/models";
import { ROUTE_READER_V2 } from "@/router";
import { general } from "@/api";
// eslint-disable-next-line @typescript-eslint/no-var-requires
const placeHolderScr = require("../assets/book-placeholder.svg");

export default Vue.extend({
  name: "BookCard",
  props: {
    book: Object as () => Book,
  },
  data() {
    return {
      ReadingStatus,
      ROUTE_READER_V2,
      placeHolderScr,
    };
  },
  methods: {
    updateReadindStatus(status_id: ReadingStatus) {
      general
        .updateBook(this.book.id, {
          book: { reading_status_id: status_id },
        })
        .then((book) => {
          this.$emit("book-updated", book);
        });
    },
  },
});
</script>

<style  scoped lang="scss">
.snippet-text {
  color: rgba(255, 255, 255, 1) !important;
  font-family: "Coolvetica Regular", sans-serif;
  font-size: 1.1em;
  word-break: break-word;
}

.card-container {
  max-width: 140px;
  padding-bottom: 10px;
  text-align: center;
}

.image-container {
  height: calc(100vw * 0.4);
  max-height: 190px;
  position: relative;
  background: white;
}

@media (max-width: 768px) {
  .image-container {
    height: calc(100vw * 0.7) !important;
    max-height: 150px !important;
  }
}

.cover-img {
  height: 100%;
  max-width: 140px;
  object-fit: cover;
}

.tag {
  float: left;
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 1000;
  padding: 5px;
  color: #ffffff;
  font-weight: bold;
  height: 100%;
  width: 100%;
  background-color: #00000040;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-container .tag {
  visibility: hidden;
}

.image-container:hover .tag {
  visibility: visible !important;
}

.image-container .tag-visible-on-selected {
  visibility: visible !important;
}

.dropdown-btn:hover {
  background: rgba(255, 255, 255, 0.1);
}

.dropdown-btn:focus {
  outline: none !important;
  box-shadow: none;
}

.author-snippet-text {
  font-size: 0.8em;
}

.dropdown-item.active,
.dropdown-item:active {
  color: #fff !important;
  text-decoration: none;
  background-color: #007bff !important;
}
</style>