<template>
  <div>
    <div id="book-card-list" class="cards-container">
      <BookCard
        v-for="book in books"
        :key="book.id"
        :book="book"
        v-on:book-updated="updateBook"
      />
    </div>
    <infinite-loading @infinite="infiniteHandler">
      <template slot="no-results">
        <slot name="no-results-component"></slot>
      </template>
    </infinite-loading>
  </div>
</template>

<script lang="ts">
/* eslint-disable @typescript-eslint/camelcase */
import Vue from "vue";
import BookCard from "@/components/BookCard.vue";
import InfiniteLoading from "vue-infinite-loading";
import { Book } from "@/models";
import { general } from "@/api";
import { ROUTE_BOOKS_HOME } from "@/router";

export default Vue.extend({
  name: "BookCardList",
  components: {
    BookCard,
    InfiniteLoading,
  },
  props: {
    params: Object,
  },
  data() {
    return {
      books: [] as Book[],
      nextPageCursor: null,
    };
  },
  methods: {
    updateBook(updatedBook: Book) {
      const books = this.books.reduce((acc, book) => {
        if (book.id === updatedBook.id) {
          if (this.$route.name !== ROUTE_BOOKS_HOME) {
            return acc;
          } else {
            acc.push(updatedBook);
            return acc;
          }
        } else {
          acc.push(book);
          return acc;
        }
      }, [] as Book[]);
      this.books = books;
    },
    infiniteHandler($state) {
      const initialQueryParams = this.params || {};
      const params = this.nextPageCursor
        ? { ...initialQueryParams, next_page_cursor: this.nextPageCursor }
        : initialQueryParams;
      general.getBooks(params).then(({ entries, metadata }) => {
        this.books.push(...entries);
        this.nextPageCursor = metadata.after;
        if (this.books.length > 0) {
          $state.loaded();
        }
        if (this.nextPageCursor) {
          $state.loaded();
        } else {
          $state.complete();
        }
      });
    },
  },
});
</script>

<style scoped lang="scss">
.cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(190px, 1fr));
  grid-gap: 1rem;
}

@media (max-width: 768px) {
  .cards-container {
    grid-template-columns: repeat(auto-fit, minmax(130px, 1fr)) !important;
  }
}
</style>