<template>
  <div>
    <div>
      <button v-on:click="onPrevPage()" id="prev">Previous</button>
      <button v-on:click="onNextPage()" id="next">Next</button>
      &nbsp; &nbsp;
      <span
        >Page: <span id="page_num"> {{ pageNum }} </span> /
        <span id="page_count"> {{ pageCount }}</span></span
      >
    </div>
    <div class="d-flex justify-content-center">
      <canvas ref="pdfCanvas" id="the-canvas"></canvas>
    </div>
  </div>
</template>

<script lang="ts">
import Vue, { VueConstructor } from "vue";
import * as pdfjsLib from "pdfjs-dist";
import { general } from "@/api";
// TODO: refactor all of this

// import { PDFJS as PDFJSViewer } from 'pdfjs-dist/web/pdf_viewer.js';

import "pdfjs-dist/web/pdf_viewer.css";

// import pdfjsLib from 'pdfjs-dist/build/pdf';
// import { PDFViewer } from 'pdfjs-dist/web/pdf_viewer';
// eslint-disable-next-line @typescript-eslint/no-var-requires
const PDFViewer = require("pdfjs-dist/web/pdf_viewer");

pdfjsLib.GlobalWorkerOptions.workerSrc =
  "//cdnjs.cloudflare.com/ajax/libs/pdf.js/2.5.207/pdf.worker.js";

// const eventBus = new PDFViewer.EventBus();
// const linkService = new PDFViewer.PDFLinkService({ eventBus });
let pdfDoc: pdfjsLib.PDFDocumentProxy;
let ctx: any;

export default (Vue as VueConstructor<
  Vue & {
    $refs: {
      pdfCanvas: InstanceType<typeof HTMLCanvasElement>;
    };
  }
>).extend({
  name: "PdfViewer",
  mounted() {
    this.getPdf();
  },
  data: () => ({
    pageNum: 1,
    pageCount: 0,
    pageRendering: false,
    pageNumPending: null,
    scale: 1.0,
    bookId: -1,
    updatePageNumTimeoutId: -1,
  }),
  methods: {
    created() {
      const bookId = parseInt(this.$route.params.bookId, 10);
      this.bookId = bookId;
    },
    async getPdf() {
      ctx = this.$refs.pdfCanvas.getContext("2d");

      // const pdfViewer = new PDFViewer.PDFViewer({
      //   container,
      //   eventBus,
      // });
      const bookId = parseInt(this.$route.params.bookId, 10);
      this.bookId = bookId;
      const loadingTask = pdfjsLib.getDocument(
        "/api/books/" + bookId + "/file"
      );
      pdfDoc = await loadingTask.promise;
      general.getBook(bookId).then((book) => {
        this.pageNum = book.current_page;
        this.pageCount = book.num_pages;
        this.renderPage(this.pageNum);
      });
      // pdfViewer.setDocument(pdfDocument);
      // linkService.setViewer(pdfViewer);
      // linkService.setDocument(pdfDocument, null);
      // eventBus.on('pagechanging', (e) => {
      //   console.log('e');
      //   console.log(e);
      // });
      // setInterval(() => { console.log(pdfViewer.currentPageNumber); }, 3000);
    },
    onNextPage() {
      if (this.pageNum >= pdfDoc.numPages) {
        return;
      }
      this.pageNum += 1;
      this.queueRenderPage(this.pageNum);
    },
    onPrevPage() {
      if (this.pageNum <= 1) {
        return;
      }
      this.pageNum += -1;
      this.queueRenderPage(this.pageNum);
    },
    queueRenderPage(num) {
      if (this.pageRendering) {
        this.pageNumPending = num;
      } else {
        clearTimeout(this.updatePageNumTimeoutId);
        this.updatePageNumTimeoutId = setTimeout(() => {
          general.updateBook(this.bookId, {
            // eslint-disable-next-line @typescript-eslint/camelcase
            book: { current_page: num },
          });
        }, 3000);
        this.renderPage(num);
      }
    },
    renderPage(num) {
      this.pageRendering = true;
      // Using promise to fetch the page
      pdfDoc.getPage(num).then((page) => {
        const viewport = page.getViewport({
          scale:
            (window.innerWidth * 0.85) / page.getViewport({ scale: 1.0 }).width,
        });
        this.$refs.pdfCanvas.height = viewport.height;
        this.$refs.pdfCanvas.width = viewport.width;

        // Render PDF page into canvas context
        const renderContext = {
          canvasContext: ctx,
          viewport,
        };
        const renderTask = page.render(renderContext);

        // Wait for rendering to finish
        renderTask.promise.then(() => {
          this.pageRendering = false;
          if (this.pageNumPending !== null) {
            // New page rendering is pending
            this.renderPage(this.pageNumPending);
            this.pageNumPending = null;
          }
        });
      });
      // Update page counters
      // document.getElementById('page_num').textContent = num;
    },
  },
});
</script>

<style scoped lang="scss">
#pageContainer {
  margin: auto;
  width: 80%;
}

div.page {
  display: inline-block;
}
</style>
