<template>
  <div class="bg-purple" id="sidebar-wrapper">
    <div class="sidebar-heading d-flex align-items-center">
      <img
        style="vertical-align: bottom; height: 20px"
        src="../assets/logo-white.svg"
      />
      <strong style="font-size: larger; padding-left: 4px"> Parcebooks </strong>
    </div>

    <div class="list-group list-group-flush" v-on:click="maybeToggleSidebar()">
      <router-link
        :to="{ name: ROUTE_BOOKS_HOME }"
        class="list-group-item list-group-item-action bg-purple menu-font-text"
        v-bind:class="{ 'link-disabled': currentRoute === ROUTE_BOOKS_HOME }"
      >
        <font-awesome-icon icon="book-open" style="margin-right: 9px" />
        All Books
      </router-link>

      <router-link
        :to="{ name: ROUTE_BOOKS_READING }"
        class="list-group-item list-group-item-action bg-purple menu-font-text"
        v-bind:class="{ 'link-disabled': currentRoute === ROUTE_BOOKS_READING }"
      >
        <font-awesome-icon icon="eye" style="margin-right: 9px" />
        Reading
      </router-link>

      <router-link
        :to="{ name: ROUTE_BOOKS_PLAN_TO_READ }"
        class="list-group-item list-group-item-action bg-purple menu-font-text"
        v-bind:class="{
          'link-disabled': currentRoute === ROUTE_BOOKS_PLAN_TO_READ,
        }"
      >
        <font-awesome-icon icon="calendar-alt" style="margin-right: 9px" />
        Plan to read
      </router-link>

      <router-link
        :to="{ name: ROUTE_BOOKS_COMPLETED }"
        class="list-group-item list-group-item-action bg-purple menu-font-text"
        v-bind:class="{
          'link-disabled': currentRoute === ROUTE_BOOKS_COMPLETED,
        }"
      >
        <font-awesome-icon icon="check" style="margin-right: 9px" />
        Completed
      </router-link>

      <router-link
        :to="{ name: ROUTE_STORAGE }"
        class="list-group-item list-group-item-action bg-purple menu-font-text"
        v-bind:class="{ 'link-disabled': currentRoute === ROUTE_STORAGE }"
      >
        <font-awesome-icon icon="cloud" style="margin-right: 9px" />
        Storage
      </router-link>

      <!-- TODO: replace this with a variable  -->
      <a
        href="mailto:support@parcebooks.net"
        class="list-group-item list-group-item-action bg-purple menu-font-text"
      >
        <font-awesome-icon icon="question" style="margin-right: 9px" />
        Support
      </a>
    </div>
  </div>
</template>

<script lang="ts">
import Vue from "vue";
import {
  ROUTE_BOOKS_HOME,
  ROUTE_BOOKS_READING,
  ROUTE_BOOKS_COMPLETED,
  ROUTE_BOOKS_PLAN_TO_READ,
  ROUTE_STORAGE,
} from "@/router";

export default Vue.extend({
  name: "Sidebar",
  data: () => {
    return {
      ROUTE_BOOKS_HOME,
      ROUTE_BOOKS_READING,
      ROUTE_BOOKS_COMPLETED,
      ROUTE_BOOKS_PLAN_TO_READ,
      ROUTE_STORAGE,
    };
  },
  computed: {
    currentRoute() {
      return this.$route.name;
    },
  },
  methods: {
    maybeToggleSidebar() {
      if (this.$store.state.dashboard.isSidebarToggled) {
        this.$store.commit("dashboard/TOGGLE_SIDEBAR");
      }
    },
  },
});
</script>

<style scoped lang="scss">
$sidebar-wrapper-width: 12rem;

#sidebar-wrapper {
  min-height: calc(100% - 52px);
  margin-left: -$sidebar-wrapper-width;
  -webkit-transition: margin 0.25s ease-out;
  -moz-transition: margin 0.25s ease-out;
  -o-transition: margin 0.25s ease-out;
  transition: margin 0.25s ease-out;
}

#sidebar-wrapper .sidebar-heading {
  padding: 0.875rem 1.25rem;
  font-size: 1.2rem;
}

#sidebar-wrapper .list-group {
  width: $sidebar-wrapper-width;
}

#wrapper.toggled #sidebar-wrapper {
  margin-left: 0;
}

@media (min-width: 768px) {
  #sidebar-wrapper {
    margin-left: 0;
  }

  #wrapper.toggled #sidebar-wrapper {
    margin-left: -$sidebar-wrapper-width;
  }
}
.link-disabled {
  pointer-events: none;
  cursor: default;
  color: #ff0095 !important;
}
.menu-font-text {
  color: rgba(255, 255, 255, 1);
  font-family: "Biotif Semi Bold", sans-serif;
  font-size: 1.1em;
  outline: none;
}

.menu-font-text:hover {
  color: #ff0095 !important;
}

.bg-purple {
  background-color: #29175e !important;
}
</style>
