<template>
  <div>
    <div class="h3">Manage Storage Providers</div>
    <table id="storage_table" class="table table-dark">
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="storageBucket in storageBuckets" :key="storageBucket.id">
          <td>
            <div class="d-flex">
              <div
                v-if="
                  storageBucket.storage_provider_id ===
                  StorageProvider.GoogleDrive
                "
              >
                <font-awesome-icon
                  :icon="['fab', 'google-drive']"
                  style="color: white; width: 24px"
                />
              </div>
              <div
                v-else-if="
                  storageBucket.storage_provider_id === StorageProvider.Dropbox
                "
              >
                <font-awesome-icon
                  :icon="['fab', 'dropbox']"
                  style="color: white; width: 24px"
                />
              </div>
              <div v-else>
                <font-awesome-icon
                  :icon="['fas', 'cloud']"
                  style="color: white; width: 24px"
                />
              </div>
              {{ storageBucket.account_name }}
            </div>
          </td>
          <td>
            <div class="d-flex justify-content-end">
              <button
                v-on:click="syncStorageBucket(storageBucket.id)"
                class="btn icon-btn"
                style="
                  height: 32px;
                  width: 32px;
                  padding: 0px;
                  margin-right: 5px;
                "
                type="button"
                data-toggle="tooltip"
                :disabled="storageBucket.is_synchronizing"
                :title="getSyncButtonTooltip(storageBucket)"
              >
                <font-awesome-icon
                  :icon="storageBucket.is_synchronizing ? 'cog' : 'sync-alt'"
                  v-bind:class="{ 'fa-spin': storageBucket.is_synchronizing }"
                  style="color: white; width: 24px"
                />
              </button>

              <button
                v-on:click="deleteStorageBucket(storageBucket.id)"
                class="btn icon-btn"
                style="height: 32px; width: 32px; padding: 0px"
                type="button"
                data-toggle="tooltip"
                title="Remove storage"
              >
                <font-awesome-icon
                  icon="trash"
                  style="color: white; width: 24px"
                />
              </button>
            </div>
          </td>
        </tr>
        <tr v-if="storageBuckets && storageBuckets.length == 0">
          <td class="text-center">No storage providers added yet.</td>
        </tr>
      </tbody>
    </table>
  </div>
</template>

<script lang="ts">
/* eslint-disable @typescript-eslint/camelcase */
import Vue from "vue";
import { general } from "@/api";
import toastr from "toastr";
import { UserStorageProvider, StorageProvider } from "@/models";
import { WebSocket } from "@/api";
import { Util } from "@/util";

export default Vue.extend({
  name: "UserStorageProviderTable",
  data() {
    return {
      StorageProvider,
      storageBuckets: [] as UserStorageProvider[],
      channelRef: -1,
    };
  },
  created() {
    general
      .getStorageBuckets()
      .then((storageBuckets) => (this.storageBuckets = storageBuckets));

    const subscribeToChannelEvent = () => {
      WebSocket.getUserChannel().on(
        "sync:ended",
        (storageBucket: UserStorageProvider) => {
          this.storageBuckets = Util.updateListItem(
            this.storageBuckets,
            storageBucket
          );
        }
      );
      WebSocket.getUserChannel().on(
        "sync:started",
        (storageBucket: UserStorageProvider) => {
          this.storageBuckets = Util.updateListItem(
            this.storageBuckets,
            storageBucket
          );
        }
      );
    };

    if (WebSocket.getSocket().isConnected()) {
      subscribeToChannelEvent();
    } else {
      let timeoutRef = -1;
      timeoutRef = setTimeout(() => {
        if (WebSocket.getSocket().isConnected()) {
          subscribeToChannelEvent();
          clearTimeout(timeoutRef);
        }
      }, 1000);
    }
  },
  methods: {
    getSyncButtonTooltip(userStorageProvider: UserStorageProvider): string {
      if (userStorageProvider.is_synchronizing) {
        return "Sync in progress";
      }
      return "Sync";
    },
    syncStorageBucket(id: number) {
      general.syncStorageBucket(id);
    },
    deleteStorageBucket(id: number) {
      general.deleteStorageBucket(id).then(() => {
        toastr.success("Storage provider successfully deleted");
        general
          .getStorageBuckets()
          .then((storageBuckets) => (this.storageBuckets = storageBuckets));
      });
    },
  },
});
</script>

<style scoped lang="scss">
.icon-btn:hover {
  background: rgba(255, 255, 255, 0.1);
}

.icon-btn:focus {
  outline: none !important;
  box-shadow: none;
}
</style>
