<template>
  <div>
    <div class="h3">Add storage provider</div>
    <div class="d-flex flex-column">
      <!--
      <a
        id="google_drive_link"
        class="btn btn-secondary m-2"
        href="/api/accounts/oauth/google_authorize_url"
        role="button"
      >
        <font-awesome-icon
          :icon="['fab', 'google-drive']"
          style="color: white"
        />
        Google Drive</a
      >
      -->
      <a
        id="dropbox_link"
        class="btn btn-secondary m-2"
        href="/api/accounts/oauth/dropbox_authorize_url"
        role="button"
      >
        <font-awesome-icon :icon="['fab', 'dropbox']" style="color: white" />
        Dropbox</a
      >
    </div>
  </div>
</template>

<script lang="ts">
/* eslint-disable @typescript-eslint/camelcase */
import Vue from "vue";

export default Vue.extend({
  name: "UserStorageProviderAddStorageSection",
});
</script>

<style scoped lang="scss">
</style>
