$primary-background: #2b1f64;
$primary-font-color: white;

$custom-primary: #0ba360;

.btn-custom-primary:hover {
  color: #fff;
  background-color: #0cb269 !important;
  border-color: $custom-primary !important;
}

.btn-custom-primary {
  color: #fff;
  background-color: $custom-primary !important;
  border-color: $custom-primary !important;
}

.btn-custom-primary:focus {
  color: #fff;
  box-shadow: 0 0 0 0.2rem rgba(38, 255, 49, 0.5) !important;
}

.btn-custom-outline-secondary:hover {
  color: #fff !important;
  background-color: rgba(33, 146, 105, 1) !important;
  border-color: rgba(33, 146, 105, 1) !important;
}

.btn-custom-outline-secondary {
  color: white !important;
  border-color: #0BA360 !important;
}