Hi <%= @user_name %>,

Thanks for signing up to Parcebooks
The app is in a very early stage, so many features may be missing. If you have any suggestion or maybe some ideas for new features, don't hesitate to reach out replaying to this email or the support email address support@parcebooks.net

Thanks and speak soon!

Wolfgang
