<template>
  <div class="d-flex flex-column" style="height: 100vh">
    <div
      class="d-flex"
      id="wrapper"
      v-bind:class="{ toggled: isSidebarToggled }"
    >
      <Sidebar />
      <!-- Page Content -->
      <div id="page-content-wrapper">
        <Navbar />
        <div class="home-container" v-on:click="maybeToggleSidebar()">
          <div class="main-view-container">
            <div class="container-fluid">
              <div class="container">
                <div class="row">
                  <div class="col">
                    <UserStorageProviderTable />
                  </div>
                  <div class="col">
                    <UserStorageProviderAddStorageSection />
                  </div>
                </div>
              </div>
              <hr />
              <div>
                <BookCardList />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
/* eslint-disable @typescript-eslint/camelcase */
import Vue from "vue";
import toastr from "toastr";
import Navbar from "@/components/Navbar.vue";
import Sidebar from "@/components/Sidebar.vue";
import BookCardList from "@/components/BookCardList.vue";
import UserStorageProviderTable from "@/components/UserStorageProviderTable.vue";
import UserStorageProviderAddStorageSection from "@/components/UserStorageProviderAddStorageSection.vue";
import { general } from "@/api";
import { Book, UserStorageProvider, StorageProvider } from "@/models";

export default Vue.extend({
  name: "Dashboard",
  components: {
    Sidebar,
    BookCardList,
    UserStorageProviderTable,
    UserStorageProviderAddStorageSection,
    Navbar,
  },
  computed: {
    isSidebarToggled(): boolean {
      return this.$store.state.dashboard.isSidebarToggled;
    },
  },
  data() {
    return {
      StorageProvider,
      books: [] as Book[],
      storageBuckets: [] as UserStorageProvider[],
      nextPageCursor: null,
    };
  },
  created() {
    // todo: find a better terminology for adding a removing external storage accounts
    const routeName: string = this.$route.name as string;
    if (this.$route.hash === "#unable_to_add_account") {
      toastr.warning("There was an error adding your account");
      this.$router.replace({ name: routeName });
    } else if (this.$route.hash === "#account_successfully_added") {
      toastr.success(
        "Account successfully added, click the gear to start syncing process"
      );
      this.$router.replace({ name: routeName });
    } else if (this.$route.hash === "#account_already_added") {
      toastr.info(
        "Locks like this account was already associated to your user"
      );
      this.$router.replace({ name: routeName });
    }
    general
      .getStorageBuckets()
      .then((storageBuckets) => (this.storageBuckets = storageBuckets));
  },
  methods: {
    maybeToggleSidebar() {
      if (this.$store.state.dashboard.isSidebarToggled) {
        this.$store.commit("dashboard/TOGGLE_SIDEBAR");
      }
    },
  },
});
</script>

<style scoped lang="scss">
#page-content-wrapper {
  min-width: 100vw;
  display: flex;
  flex-direction: column;
}

@media (min-width: 768px) {
  #page-content-wrapper {
    min-width: 0;
    width: 100%;
  }
}

.home-container {
  border: none;
  flex-grow: 1;
  height: calc(100% - 48px);
  width: 100%;
}

.main-view-container {
  height: 100%;
  overflow-y: auto;
}

#wrapper {
  height: 100%;
}

.search-button:hover {
  background: #ea5791 !important;
}
</style>