<template>
  <div class="container">
    <div class="row">
      <div class="col">
        <UserStorageProviderTable />
      </div>
      <div class="col">
        <UserStorageProviderAddStorageSection />
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import Vue from "vue";
import toastr from "toastr";
import UserStorageProviderTable from "@/components/UserStorageProviderTable.vue";
import UserStorageProviderAddStorageSection from "@/components/UserStorageProviderAddStorageSection.vue";

export default Vue.extend({
  name: "HomeStorageView",
  components: {
    UserStorageProviderTable,
    UserStorageProviderAddStorageSection,
  },
  created() {
    const routeName: string = this.$route.name as string;
    if (this.$route.hash === "#unable_to_add_account") {
      toastr.warning("There was an error adding your storage provider");
      this.$router.replace({ name: routeName });
    } else if (this.$route.hash === "#account_successfully_added") {
      toastr.success("Storage provider successfully added");
      this.$router.replace({ name: routeName });
    } else if (this.$route.hash === "#account_already_added") {
      toastr.info(
        "Locks like this storage provider was already associated to your user"
      );
      this.$router.replace({ name: routeName });
    }
  },
});
</script>

<style scoped lang="scss">
</style>