<template>
  <BookCardList :params="params" />
</template>

<script lang="ts">
import Vue from "vue";
import BookCardList from "@/components/BookCardList.vue";
import { ReadingStatus } from "@/models";

export default Vue.extend({
  name: "HomeCompletedView",
  data() {
    return {
      // eslint-disable-next-line @typescript-eslint/camelcase
      params: { reading_status_id: ReadingStatus.Completed },
    };
  },
  components: {
    BookCardList,
  },
});
</script>

<style scoped lang="scss">
</style>