<template>
  <BookCardList>
    <template v-slot:no-results-component>
      <div>
        Looks like there aren't any books in your account, try adding a new
        storage provider
      </div>

      <router-link
        :to="{ name: ROUTE_STORAGE }"
        class="btn btn-primary"
        role="button"
      >
        Add Storage Provider
      </router-link>
    </template>
  </BookCardList>
</template>

<script lang="ts">
import Vue from "vue";
import BookCardList from "@/components/BookCardList.vue";
import { ROUTE_STORAGE } from "@/router";
export default Vue.extend({
  name: "HomeView",
  components: {
    BookCardList,
  },
  data: () => {
    return {
      ROUTE_STORAGE,
    };
  },
});
</script>

<style scoped lang="scss">
</style>