<template>
  <div class="d-flex flex-column" style="height: 100vh">
    <div
      class="d-flex"
      id="wrapper"
      v-bind:class="{ toggled: isSidebarToggled }"
    >
      <Sidebar />
      <!-- Page Content -->
      <div id="page-content-wrapper">
        <Navbar />
        <div class="home-container" v-on:click="maybeToggleSidebar()">
          <div class="main-view-container">
            <div class="container-fluid pt-3">
              <router-view></router-view>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
/* eslint-disable @typescript-eslint/camelcase */
import Vue from "vue";
import Navbar from "@/components/Navbar.vue";
import Sidebar from "@/components/Sidebar.vue";

export default Vue.extend({
  name: "HomeBaseView",
  components: {
    Sidebar,
    Navbar,
  },
  computed: {
    isSidebarToggled(): boolean {
      return this.$store.state.dashboard.isSidebarToggled;
    },
  },
  methods: {
    maybeToggleSidebar() {
      if (this.$store.state.dashboard.isSidebarToggled) {
        this.$store.commit("dashboard/TOGGLE_SIDEBAR");
      }
    },
  },
});
</script>

<style scoped lang="scss">
#page-content-wrapper {
  min-width: 100vw;
  display: flex;
  flex-direction: column;
}

@media (min-width: 768px) {
  #page-content-wrapper {
    min-width: 0;
    width: 100%;
  }
}

.home-container {
  border: none;
  flex-grow: 1;
  height: calc(100% - 48px);
  width: 100%;
}

.main-view-container {
  height: 100%;
  overflow-y: auto;
}

#wrapper {
  height: 100%;
}

.search-button:hover {
  background: #ea5791 !important;
}
</style>