<template>
  <div id="app">
    <router-view />
  </div>
</template>

<script lang="ts">
import Vue from "vue";

export default Vue.extend({
  name: "App",
  created() {
    document.title = "Parcebooks";
  },
});
</script>

<style lang="scss">
@import "@/styles/general.scss";

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $primary-font-color;
  background: $primary-background;
}

html {
  background: $primary-background;
}
</style>
