<template>
  <router-view></router-view>
</template>

<script lang="ts">
import Vue from "vue";
import toastr from "toastr";
import { accounts, WebSocket } from "@/api";

export default Vue.extend({
  name: "Home",
  created() {
    if (WebSocket.getSocket().connectionState() === "closed") {
      accounts.getUserToken().then((resp) => {
        WebSocket.setToken(resp.token);
        WebSocket.setUserChannel(resp.user_id).join();
        WebSocket.getUserChannel().on("sync:ended", () => {
          toastr.success("Sync complete");
        });
        WebSocket.getSocket().connect();
      });
    }
  },
});
</script>

<style lang="scss">
body {
  overflow-x: hidden;
}
</style>