<template>
  <div class="container router-view-container">
    <div
      class="d-flex flex-column align-items-center justify-content-center pb-4"
    >
      <img
        style="vertical-align: bottom; height: 85px"
        src="../assets/logo-white.svg"
      />
      <strong style="font-size: larger"> Parcebooks </strong>
    </div>
    <div class="card">
      <div class="card-body">
        <h5 style="color: #212529" class="card-title pb-2">Login</h5>

        <form v-on:submit.prevent="submitLogin">
          <div class="input-group form-group">
            <div class="input-group-prepend">
              <span class="input-group-text" id="input-group-prepend-email">
                <font-awesome-icon icon="envelope" />
              </span>
            </div>
            <input
              v-model="email"
              type="email"
              class="form-control"
              id="email"
              placeholder="Email address"
              aria-describedby="input-group-prepend-email"
              required
            />
          </div>

          <div class="input-group form-group">
            <div class="input-group-prepend">
              <span class="input-group-text" id="input-group-prepend-password">
                <font-awesome-icon icon="lock" style="width: 16px" />
              </span>
            </div>
            <input
              v-model="password"
              type="password"
              class="form-control"
              id="password"
              placeholder="Password"
              aria-describedby="input-group-prepend-password"
              required
            />
          </div>

          <div class="form-group">
            <button
              id="login_button"
              type="submit"
              class="btn btn-primary btn-block"
            >
              Log in
            </button>
          </div>
          <div class="form-group pt-2">
            <div class="text-center">
              <div style="color: #212529">Don't have an account?</div>
              <router-link :to="{ name: ROUTE_SIGNUP }"
                >Sign Up Here!</router-link
              >
            </div>

            <div class="text-center" style="color: #212529">
              <small>
                <router-link
                  target="_blank"
                  :to="{ name: ROUTE_TERMS_AND_CONDITIONS }"
                  >Terms of Service</router-link
                ></small
              >
              -
              <small
                ><router-link
                  target="_blank"
                  :to="{ name: ROUTE_PRIVACY_POLICY }"
                  >Privacy Policy</router-link
                ></small
              >
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import Vue from "vue";
import { ROUTE_BOOKS_HOME, ROUTE_SIGNUP } from "@/router";

export default Vue.extend({
  name: "Login",
  data() {
    return {
      email: "",
      password: "",
      ROUTE_SIGNUP,
    };
  },
  methods: {
    submitLogin() {
      const payload = {
        email: this.email,
        password: this.password,
      };
      const request = this.$store.dispatch("accounts/LOGIN", payload);
      request.then(() => {
        if (this.$route.query.redirect) {
          this.$router.push({ path: this.$route.query.redirect as string });
        } else {
          this.$router.push({ name: ROUTE_BOOKS_HOME });
        }
      });
    },
  },
});
</script>


<style scoped lang="scss">
.router-view-container {
  margin-top: 60px;
}
</style>
