<template>
  <div class="d-flex flex-column" style="height: 100vh">
    <div class="d-flex" id="wrapper">
      <!-- Page Content -->
      <div id="page-content-wrapper">
        <Navbar />
        <div class="home-container">
          <div v-if="bookId > 0" class="main-view-container">
            <iframe
              class="responsive-iframe"
              :src="'/api/books/' + bookId + '/file'"
            ></iframe>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import Vue from "vue";
import Navbar from "@/components/Navbar.vue";

export default Vue.extend({
  name: "Reader",
  components: {
    Navbar,
  },
  data() {
    return {
      bookId: -1,
    };
  },
  created() {
    const bookId = parseInt(this.$route.params.bookId, 10);
    this.bookId = bookId;
  },
});
</script>

<style scoped lang="scss">
body {
  overflow-x: hidden;
}

#page-content-wrapper {
  min-width: 100vw;
  display: flex;
  flex-direction: column;
}

@media (min-width: 768px) {
  #page-content-wrapper {
    min-width: 0;
    width: 100%;
  }
}

.home-container {
  border: none;
  flex-grow: 1;
  height: calc(100% - 48px);
  width: 100%;
}

.main-view-container {
  height: 100%;
  overflow-y: auto;
}

#wrapper {
  height: 100%;
}

.search-button:hover {
  background: #ea5791 !important;
}

.responsive-iframe {
  width: 100%;
  height: 100%;
}
</style>