<template>
  <div class="d-flex flex-column" style="height: 100vh">
    <div class="d-flex" id="wrapper">
      <!-- Page Content -->
      <div id="page-content-wrapper">
        <nav
          class="navbar navbar-expand-lg d-flex justify-content-between"
          style="background: #1e1c4b"
        >
          <router-link :to="{ name: ROUTE_BOOKS_HOME }">
            <font-awesome-icon icon="arrow-left" style="color: white" />
          </router-link>
          <div>{{ book.title }}</div>
          <div>
            <div class="d-flex flex-row-reverse">
              <div>
                <span
                  >Page: <span> {{ pageNum }} </span> /
                  <span> {{ pageCount }}</span></span
                >
                &nbsp; &nbsp;
                <button v-on:click="onPrevPage()">Previous</button>
                <button v-on:click="onNextPage()">Next</button>
              </div>
            </div>
          </div>
        </nav>
        <div class="home-container">
          <div
            ref="mainViewContainer"
            v-if="bookId > 0"
            class="main-view-container"
          >
            <div v-if="loadingPercentage > 0 && loadingPercentage < 1">
              <div style="width: %100">
                <div
                  style="height: 0.5em; background: green"
                  v-bind:style="{ width: loadingPercentage * 100 + '%' }"
                ></div>
              </div>
            </div>

            <div class="d-flex justify-content-center">
              <canvas ref="pdfCanvas"></canvas>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import Vue, { VueConstructor } from "vue";
import { ROUTE_BOOKS_HOME } from "@/router";
import { GenNullBook } from "@/models";
import * as pdfjsLib from "pdfjs-dist";
import { general } from "@/api";

import "pdfjs-dist/web/pdf_viewer.css";
import { Book } from "../models";

pdfjsLib.GlobalWorkerOptions.workerSrc =
  "//cdnjs.cloudflare.com/ajax/libs/pdf.js/2.5.207/pdf.worker.js";

let pdfDoc: pdfjsLib.PDFDocumentProxy;
let ctx: CanvasRenderingContext2D | null;

export default (Vue as VueConstructor<
  Vue & {
    $refs: {
      mainViewContainer: InstanceType<typeof HTMLElement>;
      pdfCanvas: InstanceType<typeof HTMLCanvasElement>;
    };
  }
>).extend({
  name: "ReaderV2",
  data() {
    return {
      ROUTE_BOOKS_HOME,
      pageNum: 1,
      pageCount: 0,
      pageRendering: false,
      pageNumPending: null,
      scale: 1.0,
      bookId: -1,
      updatePageNumTimeoutId: -1,
      book: GenNullBook(),
      loadingPercentage: 0,
    };
  },
  created() {
    const bookId = parseInt(this.$route.params.bookId, 10);
    this.bookId = bookId;
  },
  mounted() {
    this.getPdf();
  },
  methods: {
    created() {
      const bookId = parseInt(this.$route.params.bookId, 10);
      this.bookId = bookId;
    },
    async getPdf() {
      ctx = this.$refs.pdfCanvas.getContext("2d");
      const bookId = parseInt(this.$route.params.bookId, 10);
      this.bookId = bookId;
      general.getBook(bookId).then(async (book: Book) => {
        this.book = book;
        this.pageNum = book.current_page;
        this.pageCount = book.num_pages;
        const loadingTask = pdfjsLib.getDocument(
          "/api/books/" + bookId + "/file"
        );

        (loadingTask as any).onProgress = (progress: any) => {
          this.loadingPercentage = progress.loaded / progress.total;
        };

        pdfDoc = await loadingTask.promise;
        this.renderPage(this.pageNum);
      });
    },
    onNextPage() {
      if (this.pageNum >= pdfDoc.numPages) {
        return;
      }
      this.pageNum += 1;
      this.queueRenderPage(this.pageNum);
    },
    onPrevPage() {
      if (this.pageNum <= 1) {
        return;
      }
      this.pageNum += -1;
      this.queueRenderPage(this.pageNum);
    },
    queueRenderPage(num) {
      if (this.pageRendering) {
        this.pageNumPending = num;
      } else {
        clearTimeout(this.updatePageNumTimeoutId);
        this.updatePageNumTimeoutId = setTimeout(() => {
          general.updateBook(this.bookId, {
            // eslint-disable-next-line @typescript-eslint/camelcase
            book: { current_page: num },
          });
        }, 3000);
        this.renderPage(num);
      }
    },
    renderPage(num) {
      this.pageRendering = true;
      // Using promise to fetch the page
      pdfDoc.getPage(num).then((page) => {
        const viewport = page.getViewport({
          scale:
            (window.innerHeight * 0.85) /
            page.getViewport({ scale: 1.0 }).width,
        });
        this.$refs.pdfCanvas.height = viewport.height;
        this.$refs.pdfCanvas.width = viewport.width;
        this.$refs.mainViewContainer.scrollTo(0, 0);

        // Render PDF page into canvas context
        const renderContext = {
          canvasContext: ctx as CanvasRenderingContext2D,
          viewport,
        };
        const renderTask = page.render(renderContext);

        // Wait for rendering to finish
        renderTask.promise.then(() => {
          this.pageRendering = false;
          if (this.pageNumPending !== null) {
            // New page rendering is pending
            this.renderPage(this.pageNumPending);
            this.pageNumPending = null;
          }
        });
      });
    },
  },
});
</script>

<style scoped lang="scss">
body {
  overflow-x: hidden;
}

#page-content-wrapper {
  min-width: 100vw;
  display: flex;
  flex-direction: column;
}

@media (min-width: 768px) {
  #page-content-wrapper {
    min-width: 0;
    width: 100%;
  }
}

.home-container {
  border: none;
  flex-grow: 1;
  height: calc(100% - 48px);
  width: 100%;
}

.main-view-container {
  height: 100%;
  overflow-y: auto;
}

#wrapper {
  height: 100%;
}

.search-button:hover {
  background: #ea5791 !important;
}

.responsive-iframe {
  width: 100%;
  height: 100%;
}

#pageContainer {
  margin: auto;
  width: 80%;
}

div.page {
  display: inline-block;
}

// Nabar
.user-btn:hover {
  background: rgba(255, 255, 255, 0.1);
}

.user-btn:focus {
  outline: none !important;
  box-shadow: none;
}

#menu-toggle {
  background: rgba(255, 255, 255, 0.1);
  width: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (min-width: 768px) {
  #menu-toggle {
    visibility: hidden !important;
  }
}
</style>