<template>
  <div class="signup-container">
    <div class="container router-view-container">
      <div
        class="d-flex flex-column align-items-center justify-content-center pb-4"
      >
        <img
          style="vertical-align: bottom; height: 85px"
          src="../assets/logo-white.svg"
        />
        <strong style="font-size: larger"> Parcebooks </strong>
      </div>
      <div class="card">
        <div class="card-body">
          <h5 style="color: #212529" class="card-title pb-2">Sign Up</h5>
          <form v-on:submit.prevent="submitSignup">
            <div class="form-group">
              <label for="name">
                <small class="form-text text-muted">Name</small>
              </label>
              <input
                v-model="name"
                v-bind:class="{ 'is-invalid': formErrors.name.length !== 0 }"
                type="text"
                class="form-control"
                id="full_name"
                placeholder="Name"
                required
              />
              <div
                v-for="(name_error, index) in formErrors.name"
                v-bind:key="index"
                class="invalid-feedback"
              >
                {{ name_error }}
              </div>
            </div>
            <div class="form-group">
              <label for="email">
                <small class="form-text text-muted">Email</small>
              </label>
              <input
                v-model="email"
                v-bind:class="{ 'is-invalid': formErrors.email.length !== 0 }"
                type="email"
                class="form-control"
                id="email"
                placeholder="Email"
                required
              />
              <div
                v-for="(email_error, index) in formErrors.email"
                v-bind:key="index"
                class="invalid-feedback"
              >
                {{ email_error }}
              </div>
            </div>
            <div class="form-group">
              <label for="password">
                <small class="form-text text-muted">Password</small>
              </label>
              <input
                v-model="password"
                v-bind:class="{
                  'is-invalid': formErrors.password.length !== 0,
                }"
                type="password"
                class="form-control"
                id="password"
                placeholder="Password"
                required
              />
              <div
                v-for="(password_error, index) in formErrors.password"
                v-bind:key="index"
                class="invalid-feedback"
              >
                {{ password_error }}
              </div>
            </div>
            <div class="form-group">
              <button
                id="signup_button"
                type="submit"
                class="btn btn-primary btn-block"
                :disabled="lock"
              >
                Sign up
              </button>
              <div style="color: #212529" class="pt-2">
                Signing up signifies that you have read and agree to the
                <router-link
                  target="_blank"
                  :to="{ name: ROUTE_TERMS_AND_CONDITIONS }"
                  >Terms of Service</router-link
                >
                and our
                <router-link
                  target="_blank"
                  :to="{ name: ROUTE_PRIVACY_POLICY }"
                  >Privacy Policy</router-link
                >
              </div>
            </div>
            <div class="form-group pt-2">
              <div class="text-center">
                <div style="color: #212529">Already have an account?</div>
                <router-link :to="{ name: ROUTE_LOGIN }">Log in</router-link>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Vue from "vue";
import {
  ROUTE_LOGIN,
  ROUTE_BOOKS_HOME,
  ROUTE_TERMS_AND_CONDITIONS,
  ROUTE_PRIVACY_POLICY,
} from "@/router";

export default Vue.extend({
  name: "signup",
  data() {
    return {
      name: "",
      email: "",
      password: "",
      formErrors: {
        name: [],
        email: [],
        password: [],
      },
      ROUTE_LOGIN,
      ROUTE_TERMS_AND_CONDITIONS,
      ROUTE_PRIVACY_POLICY,
      lock: false,
    };
  },
  methods: {
    submitSignup() {
      // Reset errors forms
      this.formErrors = {
        name: [],
        email: [],
        password: [],
      };

      const payload = {
        user: {
          name: this.name,
          email: this.email,
          password: this.password,
        },
      };

      this.lock = true;
      const request = this.$store.dispatch("accounts/SIGNUP", payload);

      const handleFailedRequest = (failedRequest) => {
        const response = failedRequest.response.data;
        if (response.errors.email) {
          this.formErrors.email = response.errors.email;
        }
        if (response.errors.name) {
          this.formErrors.name = response.errors.name;
        }
        if (response.errors.password) {
          this.formErrors.password = response.errors.password;
        }
      };

      request
        .then(() => {
          const loginPayload = {
            email: this.email,
            password: this.password,
          };

          const loginRequest = this.$store.dispatch(
            "accounts/LOGIN",
            loginPayload
          );

          loginRequest.then(() => {
            this.$router.push({ name: ROUTE_BOOKS_HOME });
          });
        })
        .catch(handleFailedRequest)
        .finally(() => (this.lock = false));
    },
  },
});
</script>


<style lang="scss" scoped>
@import "@/styles/general.scss";

.router-view-container {
  padding-top: 60px;
}
</style>
